
header{
    position: fixed;
    width: 100%;
    background-color: var(--blue-dark);
    padding: 8px;
    z-index: 100000;
}

.header-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    height: 49px;
}

.header-container__logo-menu {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 80px;
}

.logo {
    width: 77px;
    height: 40px;
}

.menu-btn {
    background-color: var(--blue-dark);
    border: 0;
    cursor: pointer;
    height: 17px;
}

.menu-icon {
    fill: var(--white);
}

.menu {
    position: fixed;
    left: 0;
    bottom: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--blue-dark);
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s ease;
    z-index: 100;
}

.menu.is-active {
    opacity: 1;
    pointer-events: auto;
}

.menu a {
    padding: 1rem;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    color: var(--yellow);
}

.menu a:hover{
    transition: .2s;
    color: var(--blue-dark);
    background-color: var(--blue-dark);
}

.none {
    display: none;
}

.switch {
    width: 56px;
    height: 16px;
}

.switch__img {
    margin-bottom: 2px;
}


@media screen and (min-width: 1024px) {
    header{
        position: fixed;
        width: 100%;
        height: 120px;
        background-color: var(--blue-dark);
        box-shadow: 83px 83px 47px rgba(22, 19, 32, 0.05), 47px 47px 40px rgba(22, 19, 32, 0.05), 21px 21px 29px rgba(22, 19, 32, 0.09), 5px 5px 16px rgba(22, 19, 32, 0.1), 0px 0px 0px rgba(22, 19, 32, 0.1);
        padding: 20px 8px;
        z-index: 100000;
    }

    .header-container {
        height: 100%;
    }

    .header-container__logo-menu {
        width: 100%;
        height: 71px;
    }

    .logo-a {
        width: 129px;
        height: 71px;
    }

    .logo {
        background-color: var(--blue-dark);
        width: 129px;
        height: 71px;
    }

    .menu-btn {
        display: none;
    }

    .menu {
        position: static;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        gap: 16px;
        opacity: 1;
        pointer-events: auto;
        background-color: var(--blue-dark);
        list-style: none;
    }

    .menu a {
        padding: 0;
        margin: 0;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        color: var(--white);
        position: relative;    
    }

    .menu a::after {
        content: "";
        background-color: var(--white);
        position: absolute;
        left: 0;
        bottom: -3.5px;
        width: 100%;
        height: .2rem;

        opacity: 0;
        transform: scaleX(0);
        transition: all .3s ease-out;
    }

    .menu a.selected::after,
    .menu a:hover::after {
        transform: scaleX(1);
        opacity: 1;
    }

    .menu a:hover {
        background-color: transparent;
        color: var(--white);
    }

    .switch {
        width: 90px;
        height: 24px;
    }

    .switch__img {
        width: 90px;
        height: 24px;
    }
}