@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* *********** Custom Properties********** */
:root {
    --blue-dark: #16213E;
    --blue-dark-10: #16213E10;
    --blue-light: #007BFF;
    --gray: #8D8D8D;
    --text-color: #343A40;
    --pink:  #DC3545;
    --white: #F5F4F8;
    --yellow: #B38700;
    --font: "Poppins", sans-serif;
    --header-height-sm: 65px;
}

/* *********** Reset ********** */
html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    letter-spacing: 1px;
    scroll-behavior: smooth;
    text-align: center;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color);
    background-color: var(--white);
}

h1 {
    margin: 0;
    font-size: 4rem;
}

h2 {
    margin: 0;
    font-size: 2rem;
}

h3 {
    margin: 0;
    font-size: 1.5rem;
}

h4 {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
    line-height: 20px;
}

small {
    letter-spacing: 1px;
}

.bold {
    font-weight: 500;
}

.border-pink {
    border-left: 8px solid var(--pink);
}

.border-yellow {
    border-left: 8px solid var(--yellow);
}

.border-blue {
    border-left: 8px solid var(--blue-light);
}

.btn {
    border: 2px solid var(--blue-dark);
    border-radius: 8px;
    padding: 16px 40px;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    background-color: var(--blue-dark);
    transition: all .3s ease-out;
}

.btn:hover {
    background-color: var(--white);
    color:  var(--blue-dark);
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1040px;
}

.color-blue-dark {
    color: var(--blue-dark);
}


.color-blue-light {
    color: var(--blue-light);
}

.color-pink {
    color: var(--pink);
}

.color-white {
    color: var(--white);
}

.color-yellow {
    color: var(--yellow);
}

.home-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 60px 0;
}

.pages-div {
    padding-top: var(--header-height-sm);
    position: relative
}

.pages-flex {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 16px;
    top: 0;
    padding-top: var(--header-height-sm);
    height: 100%;
    margin: 0 16px;
}

.pages-text {
    color: var(--white);
    text-align: start;
}

.pages-titles {
    font-size: 24px;
    line-height: 24px;
    color: var(--white)
}

.text-start {
    text-align: start;
}

@media screen and (min-width: 1024px) { 
    .pages-flex {
        margin: auto;
        left: 0;
        right: 0;
        gap: 16px;
        padding-top: 120px;
    }

    .pages-text {
        font-size: 24px;
        line-height: 32px;
    }

    .pages-titles {
        font-size: 64px;
        line-height: 68px;
    }

    .width-70 {
        width: 70%;
    }
}
