.home {
    height: 100vh;
}

.home__flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.home__global {
    margin-top: 16px;
    font-weight: 400;
    color: var(--gray);
}

.home__hr {
    height: 1px;
    width: 80%;
    background-color: #a5a5a5;
}

.home__img {
    max-width: 500px;
}

.home__text {
    display: flex;
    flex-direction: column;
    color: var(--blue-dark);
}

.home__title {
    margin: 16px 0 8px;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0;
}

.home__subtitle {
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0;
}

.home__welcome {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: var(--gray);
}

.home-products {
    position: relative;
}

.home-products__container {
    position: relative;
    padding: 30px 16px 0;
    z-index: 100;
}

.home-products__flex {
    margin: 30px 0 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.home-products__flex-text {
    display: flex;
    flex-direction: column;
    gap: 16px; 
}

.home-products__product {
    margin: auto;
    position: relative;
    width: 280px;
    cursor: pointer;
    transition: all .3s ease-out;
}

.home-products__product:hover {
    transform: translate(0, -8px);
}

.home-products__product-img {
    border: 8px solid var(--white);
    box-shadow: 83px 83px 47px rgba(22, 19, 32, 0.01), 47px 47px 40px rgba(22, 19, 32, 0.05), 21px 21px 29px rgba(22, 19, 32, 0.09), 5px 5px 16px rgba(22, 19, 32, 0.1), 0px 0px 0px rgba(22, 19, 32, 0.1);
    border-radius: 16px;
}

.home-products__product-title {
    margin-bottom: 16px;
    font-size: 20px;
}

.home-products__readmore {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.home-products__readmore-p {
    font-size: 12px;
    line-height: 16px;
    color: var(--white);
}

.home-products__rectangle {
    position: absolute;
    width: 100%;
    height: 70%;
    background-color: var(--blue-dark-10);
    z-index: 10;
}

@media screen and (min-width: 1024px) { 

    .home__flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        justify-content: center;
        align-items: center;
        padding-top: 120px;
    }

    .home__global {
        font-size: 24px;
        line-height: 28px;
        text-align: start;
    }    

    .home__hr {
        grid-column-start: span 2;
    }

    .home__img img {
        height: 400px;
        object-fit: cover;
    }

    .home__subtitle {
        font-size: 48px;
        line-height: 48px;
        text-align: start;
    }

    .home__title {
        font-size: 64px;
        line-height: 64px;
        text-align: start;
    }

    .home__welcome {
        font-size: 48px;
        line-height: 48px;
        text-align: start;
    }

    
    .home-products__container {
        padding-top: 40px;
    }

    .home-products__flex {
        flex-direction: row;
        gap: 30px;
        padding: 40px;
        margin-top: 0;
    }

    .home-products__rectangle {
        height: 50%;
    }

}