.markets-flags__countries {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.markets-flags__group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.markets-flags__groups {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.markets-img {
    min-height: 420px;
    object-fit: cover;
}

.markets-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0px 16px 20px;
}

.markets-wework {
    margin-top: 24px;
}


.markets-aboutus-title {
    margin: 40px auto 8px;
    font-size: 28px;
    line-height: 32px;
    color: var(--blue-dark);
}

@media screen and (min-width: 768px) { 

    .markets-flags__countries {
        justify-content: flex-start;
    }

    .markets-flags__groups {
        flex-direction: row;
        justify-content: center;
        gap: 100px;
    }

    .markets-text {
        padding-bottom: 40px;
    }

    .markets-aboutus-title {
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 1px;
    }

}