.markets-flags__countries {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.markets-flags__group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.markets-flags__groups {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.markets-img {
    min-height: 420px;
    object-fit: cover;
}

.markets-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 30px 16px 20px;
}

@media screen and (min-width: 1024px) { 

    .markets-flags__countries {
        justify-content: flex-start;
    }

    .markets-flags__groups {
        flex-direction: row;
        justify-content: center;
        gap: 100px;
    }

    .markets-text {
        padding-bottom: 40px;
    }

}