.values-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.values-hr {
    width: 80%;
}

.values-img {
    min-height: 320px;
    object-fit: cover;
}

.values-tic {
    display: flex;
    gap: 8px;
    align-items: flex-start;
}

.values-value {
    width: 280px;
    height: 350px;
    background: #F5F4F8;
    border: 8px solid #EEECF4;
    box-shadow: 83px 83px 47px rgba(22, 19, 32, 0.01), 47px 47px 40px rgba(22, 19, 32, 0.05), 21px 21px 29px rgba(22, 19, 32, 0.09), 5px 5px 16px rgba(22, 19, 32, 0.1), 0px 0px 0px rgba(22, 19, 32, 0.1);
    padding: 8px;
}

.values-value__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 8px;
}

.values-value__text-p {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.values-value__title {
    font-size: 24px;
    line-height: 28px;
}